
{{#each items as |item| }}
<section>  
  <div class=" col-md-3 col-sm-6" >
    <div class="card text-center" style="width: 18rem;">
      <div class="card-block">
        <div class="bg-white rounded shadow-sm py-5 px-4" style="width: 18rem;">
          <div>
            <img src="{{item.avatar_url}}/100px180/" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" alt="Avatar from GitHub">
          </div>
          <div class="card-body">
            <h5 class="card-title">Login: {{item.login}}</h5>
          </div>
          <ul class="list-group list-group-flush text-left">
            <li class="list-inline-item">ID: {{item.id}}</li>
            <li class="list-inline-item">Url Pessoal:<a href="{{item.html_url}}" class="card-link"> {{item.html_url}}</a></li>
            <li class="list-inline-item">Score: {{item.score}}</li>
          </ul> 
        </div>
      </div>
    </div>
  </div>

</section>

{{else}}

{{/each}}

